.markdown BLOCKQUOTE {
	padding: .5rem;
	background: #fff3;
}
.markdown .anchor A.alink {
	visibility: hidden;
}
.markdown .anchor:hover A.alink {
	visibility: visible;
}

.markdown .spoiler{
	background-color:#000;
	color:#000;
	border: 1px solid #888;
}

DIV.md-preview {
	border: 1px solid var(--text);
	box-sizing: border-box;
	padding: .5em;
}