.wiki-page {
	text-align: left;
}
.wiki-footer {
	text-align: center;
}
.wiki-all-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}
.wiki-all-grid A {
	font-size: 1.5em;
	background-color: #8881;;
}
.diff-html TD {
    text-align: left;
}
.wiki-tools {
	display: flex;
	gap: 1em;
}
.wiki-admin-tools {
	display: flex;
	gap: 1em;
	margin-left: auto;
}
.wiki-admin-tools * {
	margin: 0;
}